* {
  margin: 0pc;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

.line {
  width: 100%;
  background-color: #fff;
  height: 1px;
  margin: 20px 0px;
}

.line .line-in {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.line .line-in span {
  background-color: #fff;
  border-radius: 50%;
  padding: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

video {
  position: fixed;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  min-width: 100%;
  min-height: 800px;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  z-index: -100;
  background-image: url(../VIDEO/gfp-astro-timelapse.mp4);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.all-page {
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  width: 100%;
  margin-bottom: 30px;
}

.all-page .container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.all-page .container .header-box {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 95%;
  position: absolute;
  padding-top: 8px;
}

.all-page .container .header-box .menu-box {
  top: 40px;
  right: 40px;
  display: none;
  position: absolute;
}

.all-page .container .header-box .menu-box .menu {
  position: relative;
  top: 0px;
  right: 0px;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 7px 13px;
}

.all-page .container .header-box .menu-box .menu span {
  margin: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.8px 11px;
  background-color: #fff;
}

.all-page .container .header-box .header-text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 30px 10px;
  padding-right: 35px;
}

.all-page .container .header-box .header-text a {
  font-size: 38.4px;
  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: none;
  color: #fff;
  font-weight: 300;
}

.all-page .container .header-box .navbar.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  visibility: visible;
}

.all-page .container .header-box .navbar {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  width: 80%;
}

.all-page .container .header-box .navbar nav {
  margin-bottom: 30px;
}

.all-page .container .header-box .navbar nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.all-page .container .header-box .navbar nav ul .online {
  color: #99FF66;
  border-bottom: 1px solid #99FF66;
}

.all-page .container .header-box .navbar nav ul .reaksiya {
  background-color: #99FF66;
}

.all-page .container .header-box .navbar nav ul li {
  width: 190px;
  list-style: none;
  margin: 15px;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.all-page .container .header-box .navbar nav ul li span {
  color: #fff;
  background-color: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: auto;
  padding: 10px;
  border-radius: 50%;
}

.all-page .container .header-box .navbar nav ul li a {
  text-decoration: none;
  color: #fff;
  letter-spacing: 1px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5rem;
  padding: 15px 20px;
  text-align: center;
  border-bottom: 1px solid #fff;
}

.all-page .container .header-box .navbar nav ul li:hover span {
  background-color: #99FF66;
}

.all-page .container .header-box .navbar nav ul li:hover a {
  color: #99FF66;
  border-bottom: 1px solid #99FF66;
}

.all-page .img-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.all-page .img-container .img-box {
  max-width: 1300px;
  margin: auto 20px;
}

.all-page .img-container .img-box .balon-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.all-page .img-container .img-box .balon-container span {
  border-radius: 50%;
  cursor: pointer;
  padding: 10px;
  background-color: #fff;
  color: #fff;
  margin: 10px;
}

.all-page .img-container .img-box .balon-container span:hover {
  background-color: #3CCDFF;
}

.all-page .img-container .img-box .img-content {
  width: 97%;
  margin: 40px auto 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.all-page .img-container .img-box .img-content .img-item:hover .img-text {
  opacity: 1;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.all-page .img-container .img-box .img-content .img-item:hover {
  opacity: 0.5;
}

.all-page .img-container .img-box .img-content .img-item {
  margin: 20px;
  max-width: 230px;
  position: relative;
  cursor: pointer;
}

.all-page .img-container .img-box .img-content .img-item .img-img {
  width: 100%;
  position: relative;
}

.all-page .img-container .img-box .img-content .img-item .img-img img {
  width: 100%;
}

.all-page .img-container .img-box .img-content .img-item .img-text {
  position: absolute;
  opacity: 0;
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  -webkit-transition: 0.7s all ease-in-out;
  transition: 0.7s all ease-in-out;
  top: 30%;
  right: 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.all-page .img-container .img-box .img-content .img-item .img-text h2 {
  background-color: #fff;
  padding: 10px;
  margin: 0px 20px;
  font-size: 17px;
  text-align: center;
  line-height: 30px;
}

.all-page .contact-mid {
  width: 900px;
  margin: auto 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 150px;
}

.all-page .contact-mid .contact-box {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.all-page .contact-mid .contact-box .input-contact {
  width: 60%;
  padding-top: 70px;
}

.all-page .contact-mid .contact-box .input-contact input {
  width: 100%;
  border: 0px;
  background: none;
  font-size: 20px;
  color: #fff;
  border-bottom: 1px solid #fff;
  padding-bottom: 13px;
  padding-top: 30px;
}

.all-page .contact-mid .contact-box .input-contact textarea {
  max-width: 50%;
  border: 0px;
  border-bottom: 1px solid #fff;
  height: 50px;
  background: transparent;
  padding-bottom: 10px;
  font-size: 20px;
  padding-top: 20px;
}

.all-page .contact-mid .contact-box .contact-text_map {
  width: 80%;
  margin: 40px 0px 0px 40px;
}

.all-page .contact-mid .contact-box .contact-text_map .contact-text {
  color: #fff;
  line-height: 35px;
  font-size: 19px;
  width: 90%;
}

.all-page .contact-mid .contact-box .contact-text_map .contact-text h3 {
  color: #fff;
  font-size: 24px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.all-page .contact-mid .contact-box .contact-text_map .contact-mail {
  color: #fff;
  margin-top: 30px;
  font-size: 13px;
  font-weight: 100;
}

.all-page .contact-mid .contact-box .contact-text_map .contact-mail a {
  text-decoration: none;
  color: #fff;
}

.all-page .contact-mid {
  width: 90%;
}

.all-page .contact-mid .contact-main {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.all-page .contact-mid .contact-main .contact-into {
  width: 100%;
}

.all-page .contact-mid .contact-main .contact-into .contact-input {
  width: 40%;
  margin: 50px 0px;
}

.all-page .contact-mid .contact-main .contact-into .contact-input .input-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.all-page .contact-mid .contact-main .contact-into .contact-input .input-box input {
  background: none;
  color: #fff;
  border: 0px;
  outline: none;
  padding: 20px 0px;
  font-size: 17px;
  border-bottom: 1px solid #fff;
}

.all-page .contact-mid .contact-main .contact-into .contact-input .input-box textarea {
  outline: none;
  max-width: 100%;
  min-width: 50px;
  font-size: 20px;
  margin-top: 15px;
  background: none;
  padding: 30px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #fff;
  color: black;
  max-height: 160px;
}

.all-page .contact-mid .contact-main .contact-map {
  width: 50%;
}

.all-page .contact-mid .contact-main .contact-map .map-text {
  width: 100%;
  font-size: 18px;
  color: #fff;
}

.all-page .contact-mid .contact-main .contact-map .map-text p {
  line-height: 35px;
}

.all-page .contact-mid .contact-main .contact-map .map iframe {
  max-height: 400px;
  max-width: 100%;
}

.all-page .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  width: 100%;
  margin-top: 150px;
}

.all-page .about .middle-in_Box {
  max-width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  margin-right: 100px;
}

.all-page .about .middle-in_Box .middle-main {
  width: 63%;
}

.all-page .about .middle-in_Box .middle-main .main-in {
  padding: 0px;
  margin: 20px;
  max-width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.all-page .about .middle-in_Box .middle-main .main-in .text {
  color: #fff;
  padding: 30px 40px;
  max-width: 100%;
  background: rgba(0, 0, 0, 0.3);
  line-height: 35px;
}

.all-page .about .middle-in_Box .middle-main .main-in .text a {
  text-decoration: none;
  color: #99FF66;
}

.all-page .about .middle-in_Box .middle-main .main-in .text h2 {
  font-size: 28.8px;
}

.all-page .about .middle-in_Box .middle-main .main-in .text p {
  padding-top: 20px;
  font-size: 19px;
}

.all-page .about .middle-in_Box .middle-main .main-in .img {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 400px;
}

.all-page .about .middle-in_Box .middle-main .main-in .img img {
  margin: 0px 20px;
  max-width: 250px;
  height: 190px;
}

.all-page .about .middle-in_Box .middle-main .main-in .img .img-1 {
  margin-top: 20px;
  height: 150px;
}

.all-page .about .middle-in_Box .middle-main .btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.all-page .about .middle-in_Box .middle-main .btn li:hover a {
  color: #41891e;
}

.all-page .about .middle-in_Box .middle-main .btn li {
  cursor: pointer;
  list-style: none;
  background-color: #fff;
  padding: 17px 25px;
}

.all-page .about .middle-in_Box .middle-main .btn li a {
  color: black;
  font-size: 20px;
  font-weight: bolder;
  text-decoration: none;
}

.all-page .middle-box {
  padding-top: 55px;
  max-width: 1000px;
  margin-top: 100px;
}

.all-page .middle-box .middle-in_Box {
  max-width: 85%;
  -webkit-transform: translateX(15%);
          transform: translateX(15%);
}

.all-page .middle-box .middle-in_Box .middle-main {
  width: 100%;
  margin-right: 10px;
}

.all-page .middle-box .middle-in_Box .middle-main .main-in {
  padding: 0px;
  margin: 20px;
  max-width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.all-page .middle-box .middle-in_Box .middle-main .main-in .text {
  color: #fff;
  padding: 30px 40px;
  max-width: 100%;
  background: rgba(0, 0, 0, 0.3);
  line-height: 35px;
}

.all-page .middle-box .middle-in_Box .middle-main .main-in .text a {
  text-decoration: none;
  color: #99FF66;
}

.all-page .middle-box .middle-in_Box .middle-main .main-in .text h2 {
  font-size: 28.8px;
}

.all-page .middle-box .middle-in_Box .middle-main .main-in .text p {
  padding-top: 20px;
  font-size: 19px;
}

.all-page .middle-box .middle-in_Box .middle-main .main-in .img {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 400px;
}

.all-page .middle-box .middle-in_Box .middle-main .main-in .img img {
  margin: 0px 20px;
  max-width: 250px;
  height: 190px;
}

.all-page .middle-box .middle-in_Box .middle-main .main-in .img .img-1 {
  margin-top: 20px;
  height: 150px;
}

.all-page .middle-box .middle-in_Box .middle-main .btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.all-page .middle-box .middle-in_Box .middle-main .btn li:hover a {
  color: #41891e;
}

.all-page .middle-box .middle-in_Box .middle-main .btn li {
  cursor: pointer;
  list-style: none;
  background-color: #fff;
  padding: 17px 25px;
}

.all-page .middle-box .middle-in_Box .middle-main .btn li a {
  color: black;
  font-size: 20px;
  font-weight: bolder;
  text-decoration: none;
}

.all-page footer {
  margin-top: 50px;
  color: #fff;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.all-page footer .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 95%;
}

.all-page footer .footer h2 {
  font-size: 19px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

@media screen and (max-width: 1420px) {
  .all-page .contact-mid .contact-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 100%;
  }
  .all-page .contact-mid .contact-main .contact-into {
    width: 90%;
  }
  .all-page .contact-mid .contact-main .contact-into .contact-input {
    width: 90%;
  }
  .all-page .contact-mid .contact-main .contact-into .contact-map {
    width: 100%;
  }
  .all-page .contact-mid .contact-main .contact-into .contact-map .map-text {
    text-align: center;
  }
  .all-page .contact-mid .contact-main .contact-into .contact-map .map iframe {
    max-width: 700px;
  }
}

@media screen and (max-width: 1200px) {
  .all-page .container .header-box .navbar nav ul li {
    width: 130px;
  }
  .all-page .container .header-box .navbar nav ul li a {
    padding: 15px 10px;
    font-size: 20px;
  }
}

@media screen and (max-width: 999px) {
  .all-page .middle-box .middle-in_Box {
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
    max-width: 90%;
  }
  .all-page .middle-box .middle-in_Box .middle-main .main-in .img {
    width: 97%;
    height: 100%;
  }
  .all-page .middle-box .middle-in_Box .middle-main .main-in .img img {
    width: 100%;
  }
  .all-page .container .header-box .navbar {
    width: 37%;
    z-index: 222222;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    visibility: hidden;
    display: none;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
  .all-page .container .header-box .navbar nav {
    background-color: #567086;
    position: absolute;
    right: 38px;
    top: 84px;
    border-radius: 10px;
  }
  .all-page .container .header-box .navbar nav ul {
    margin: 0px 8px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .all-page .container .header-box .navbar nav ul li {
    margin: 5px 12px;
  }
  .all-page .container .header-box .navbar nav ul li a {
    font-size: 20px;
    padding: 15px 45px;
    letter-spacing: 0px;
  }
  .all-page .container .header-box .menu-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .all-page .container .header-box .menu-box .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 850px) {
  .all-page .middle-box .middle-in_Box .middle-main .main-in .img img {
    height: 130px;
    width: 190px;
  }
  .all-page .middle-box .middle-in_Box .middle-main .main-in .img .img-1 {
    height: 130px;
    width: 190px;
  }
  .all-page .middle-box .middle-in_Box .middle-main .main-in .text {
    max-width: 420px;
  }
}

@media screen and (max-width: 840px) {
  .all-page .about .middle-in_Box {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
  }
  .all-page .about .middle-in_Box .middle-main {
    width: 90%;
  }
}

@media screen and (max-width: 770px) {
  footer .footer {
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer div {
    line-height: 30px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 700px) {
  .all-page .middle-box .middle-in_Box .middle-main .main-in .img img {
    height: 100px;
    width: 100%;
  }
  .all-page .middle-box .middle-in_Box .middle-main .main-in .img .img-1 {
    height: 110px;
    width: 100%;
  }
}

@media screen and (max-width: 605px) {
  .all-page .middle-box .middle-in_Box .middle-main .main-in {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80%;
  }
  .all-page .middle-box .middle-in_Box .middle-main .main-in .img {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 100%;
    height: 100%;
  }
  .all-page .middle-box .middle-in_Box .middle-main .main-in .img img {
    margin: 10px 0px;
    height: 90%;
    width: 55%;
  }
  .all-page .middle-box .middle-in_Box .middle-main .main-in .img .img-1 {
    width: 45%;
    height: 70%;
    padding-left: 10px;
    margin: 10px 0px 0px 0px;
  }
}

@media screen and (max-width: 596px) {
  .all-page .middle-box .middle-in_Box .middle-main .main-in .img {
    width: 98%;
  }
}

@media screen and (max-width: 533px) {
  .all-page .middle-box .middle-in_Box .middle-main .main-in .img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 100%;
    height: 100%;
    width: 100%;
  }
  .all-page .middle-box .middle-in_Box .middle-main .main-in .img img {
    margin: 10px 0px;
    width: 100%;
    height: 100%;
  }
  .all-page .middle-box .middle-in_Box .middle-main .main-in .img .img-1 {
    width: 100%;
    padding-left: 0px;
    height: 70%;
    margin: 10px 0px 0px 0px;
  }
}

@media screen and (max-width: 450px) {
  .all-page .middle-box .middle-in_Box .middle-main .main-in .text {
    padding: 20px 30px;
  }
}

@media screen and (max-width: 430px) {
  .all-page .about .middle-in_Box .middle-main {
    width: 100%;
  }
  .all-page .about .middle-in_Box .middle-main .main-in {
    width: 100%;
    margin: 0px;
  }
  .all-page .about .middle-in_Box .middle-main .main-in .text {
    padding: 20px;
  }
}

@media screen and (max-width: 400px) {
  .all-page .container .header-box .header-text a {
    font-size: 40px;
  }
  .all-page .container .header-box .menu-box {
    right: 0px;
  }
  .all-page .container .header-box .menu-box .menu {
    right: 0px;
  }
  .all-page .container .header-box .navbar nav {
    right: 0px;
  }
}

@media screen and (max-width: 375px) {
  .all-page .container .header-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .all-page .container .header-box .menu-box {
    right: 0px;
  }
  .all-page .container .header-box .menu-box .menu {
    right: 0px;
  }
  .all-page .middle-box {
    margin-top: 200px;
  }
  .all-page .about {
    margin-top: 220px;
  }
  .all-page .about .middle-in_Box .middle-main {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */